<app-hero></app-hero>

<div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <app-product-grid title="LATEST COLLECTIONS"
        subtitle="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the."
        [products]="latestProducts">
    </app-product-grid>

    <app-product-grid title="BEST SELLERS"
        subtitle="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the."
        [products]="bestSellers">
    </app-product-grid>
</div>

<app-policy-section></app-policy-section>
<app-newsletter></app-newsletter>